<h1>All the Sections that are.</h1>

<ul>
  <% Section.ordered.each do |section| %>
    <li><span class="section_header">#<%= section.number %> <a href="/sections/<%= section.id %>" class="chapter_header"><%= section.name %></a></span></li>
  <% end %>
</ul>

<p><a href="/sections/new">Add new section.</a>
<br><a href="/" class="navigation">To the Main Page!</a></p>
