<h1>All the Lessons that are.</h1>

<ul>
  <% Lesson.ordered.each do |lesson| %>
    <li><span class="section_header">#<%= lesson.number %></span> <a href="/lessons/<%= lesson.id %>" class="chapter_header"><%= lesson.name %>, a fine lesson indeed.</a></li>
  <% end %>
</ul>

<p><a href="/lessons/new">Add new lesson.</a>
<br><a href="/" class="navigation">To the Main Page!</a></p>
