<h2 class="jumbotron">Being the Lesson on the subject of <span class="name"><%= @lesson.name %></span></h2>

<p><%= @lesson.lesson_body %></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit this Lesson</a>
<br><a href="/lessons/">To the Lessons Menu!</a>
<br><a href="/" class="navigation">No, to the Main Page!</a></p>
