<h2 class="jumbotron">All the Chapters that are.</h2>

<ul>
  <% Chapter.ordered.each do |chapter| %>
    <li><span class="section_header">#<%= chapter.number %> </span> <a href="/chapters/<%= chapter.id %>" class="chapter_header"><%= chapter.name %></a></li>
  <% end %>
</ul>

<p><a href="/chapters/new">Add new chapter.</a>
<br><a href="/" class="navigation">To the Main Page!</a></p>
